.info {
    border-top-width: 4px !important;
    border-top-color: #980e2f !important;
}

input,
select {
    background-color: transparent !important;
}

input.form-control:focus,
select:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

@media(max-width: 576px){
    .top-panel .info{
        width: 100% !important
    }

    .top-panel .info h2{
        font-size: 1.5rem;
    }

    .top-panel .info h4{
        font-size: 1.2rem;
    }

    .top-panel .info li{
        font-size: .9rem !important;
    }
}