button.btn-style {
    background-color: red;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: #980e2f !important;
    font-weight: 500;
}

.input-background {
    background-color: #ebebeb !important;
}

select {
    height: 48px !important;
}