body{
    background-color: #980e2f;
}

.modal-dialog select{
    width: auto;
}

button[type="submit"]{
    background-color: #7f0924;
}

input[type='text']{
    width: 18%;
    text-align: center;
    height: 60px;
}

select{
    border: 0 !important;
}

.selectpicker::after {
    display: none;
}

@media (max-width: 576px) {
    .modal-body{
        width: 100% !important;
    }
}