body{
    background-color: #980e2f;
}

.modal-dialog select{
    width: auto;
}

.fa-exclamation-circle{
    color: #980e2f;
}

.fa-check-circle{
    color: #007a58
}

button[type="submit"]{
    background-color: #7f0924;
}


.selectpicker::after {
    display: none;
}

select.form-select::after {
    display: none;
}

@media (max-width: 576px) {
    .modal-body,
    .parent{
        width: 100% !important;
    }

    p{
        font-size: .88rem;
    }
}