body{
    background-color: #980e2f;
}

.modal-dialog select{
    width: auto;
}

.fa-exclamation-circle{
    color: #980e2f;
}

.fa-check-circle{
    color: #007a58
}

button[type="submit"]{
    background-color: #7f0924;
}

