#cart {
  padding: 0 1.8rem;
}
.card {
  border: none;
  background-color: #f9f7fc;
}

.fav-card-body {
  text-align: start;
  font-weight: 500;
  padding-bottom: 0;
}
.card-title {
  font-size: x-large;
}

.card button {
  margin: auto;
}

.card-img {
  height: 250px;
  object-fit: fill;
  width: 100%;
  display: block;
  margin: auto;
}
.card ul li button {
  width: 40px !important;
  height: 38px !important;
  text-align: center;
  background-color: white !important;
}
.card:hover ul :is(li:nth-child(2), li:last-child) {
  display: block;
  margin-top: 0.7rem;
}

.old-price {
  color: #980e2f;
  text-decoration: line-through;
}

@media (min-width: 1200px) {
  .card {
    max-height: 36vw;
  }
  .card-img {
    max-height: 36vw;
    object-fit: fill;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .card-img {
    object-fit: fill;
    width: 60%;
    margin: auto;
  }
  .fav-card-body {
    padding: 1.5rem !important;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .card-img {
    height: 250px;
    object-fit: fill;
    width: 100%;
    display: block;
    margin: auto;
  }
}
